package store

import (
    "Ancilla/api/models"
)

// {{.EntityTitle}}Store provides methods to work with {{.EntityTitle}} data.
type {{.EntityTitle}}Store struct {
    // ... add fields and methods here
}
